@model DataBin.ViewModels.PostCRUDViewModel

@{
    ViewData["Title"] = "Edit a post";
}

<h1 class="py-3">Edit a post</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Post.Id" />
            <div class="form-group">
                <label asp-for="Post.Title" class="control-label"></label>
                <input asp-for="Post.Title" class="form-control" />
                <span asp-validation-for="Post.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.Content" class="control-label"></label>
                <textarea asp-for="Post.Content" class="form-control"></textarea>
                <span asp-validation-for="Post.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Language" class="control-label"></label>
                <select asp-for="Language" asp-items="Model.Languages" class="form-select">
                    <option value="">All</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Topics</label>
                <select asp-for="SelectedTopics" class="form-control js-example-basic-multiple" asp-items="Model.TopicList"> </select>
                <span asp-validation-for="SelectedTopics" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Post.CreatedAt" class="form-control"/>
            <input type="hidden" asp-for="Post.Stars" class="form-control" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary my-3" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $("#SelectedTopics").select2();
        });
    </script>
}
